html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  /* background-color: #f5f8fb; */
  border-top-right-radius: 24px !important;
  border-top-left-radius: 24px !important;
  background: none;
}

.triviaQuizIframeHeader1 {
  background-color: #947eda !important;
}

.triviaQuizIframeHeader2 {
  background-color: #ff8c19 !important;
}

.triviaQuizIframeHeader3 {
  background-color: #7dae81 !important;
}

.triviaQuizIframeHeader4 {
  background-color: #3964d1 !important;
}

.triviaQuizIframeHeader5 {
  background-color: #08a8d8 !important;
}

.triviaQuizIframeHeader6 {
  background-color: #ff5090 !important;
}

.topCurve {
  border-radius: 4px 4px 0 0;
}

.blink_me {
  animation: blinker 1.5s linear infinite;
}

.mainBorder {
  border-top-right-radius: 24px !important;
  border-top-left-radius: 24px !important;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
