

/* body {
  background-color: #7cc6fe;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */

.quiz {
  background-color: #002f50;
  /* width: 430px; */
  /* min-height: 200px; */
  height: min-content;
  border-radius: 15px;
  padding: 1.67vw;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
  color: white;
  margin: 20px;
  /* min-height: 32vh; */
}

.score-section {
  padding: 6vmin;
}

.score-section h3 {
  padding: 5px;
  color: rgb(  179, 157, 157);
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
  margin-top: 8vmin;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}

.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 7px;
  text-align: center;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn1 {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #002f50;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  border: 5px solid  #4d6d85;
  cursor: pointer;
  margin: 8px;
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

.btn1:hover {
  background-color: #555e7d;
}

.btn1:focus {
  outline: none;
}

.btn1 svg {
  margin-right: 5px;
}
